*{
    transition: 200ms;
}
.chats-container .container{
    max-width: 1080px;
    padding: 0 1rem;
    margin:  0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 2fr;
    margin-top: 6rem;
}
.text-muted.unread{
    font-weight: bolder;
    color: var(--color-black);
}
.name.unread{
    font-weight: bolder;
    color: var(--color-black);
}

/* chats */
.allchats{
    max-height: 80vh;
    overflow-y: auto;
    padding-left: 10px;
}

.chats{
    /* margin: 10px 0; */
    /* border-radius: var(--card-border-radius); */
    padding: 10px var(--card-padding) ;    
    /* margin: 1rem 0; */
    /* border-bottom: 1px solid #ddd; */
    cursor: pointer;  
}
.chats:hover{
    margin: 10px;
    background-color: var(--color-light);
    border-radius: var(--card-border-radius);
}
.chats .profile{
    display: flex;
    height: 2rem;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 1rem 0;
}
.chatRef{
    position: relative;
}
.chatactive{
    position: absolute;
    bottom: 0;
    right: 5px;
    background-color: var(--color-success);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 4px solid white;
}
.chats .profile-photo{
    border-radius: 50%;
    margin-right: 7px;
}
.chats .profile-photo img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
.cons{
    position: absolute;
    top: 10px;
}
.conversations h4{
    margin-bottom: 5px;
}
.chats .name{
    font-weight: 550;
    margin-bottom: 0;
    font-size: var(--normal-font-size);
}
.chats  p{
    margin-top: 0;
    font-size: var(--small-font-size);
}

/* Left side */
.chatsLeft{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    height: 80vh;
    padding-top: 1rem;
    overflow-y: auto;
    position: relative;
}
.chatsLeft::-webkit-scrollbar{
    width: 0;
}
.chatsLeft .info{
    display: flex;
    border-radius: var(--card-border-radius);
    /* flex-direction: column; */
}
.search-box{
    /* height: 100px; */
    width: 100%;
    padding: 10px ;
}
.search-input{
    font-size: var(--normal-font-size);
    background-color: var(--color-light);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.chatsRight{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    height: 80vh;

}
.activechat{
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--card-padding);
    position: relative;
}
.chathead{
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.chathead .profile{
    display: flex;
    align-items: center;
}
.profile .profile-photo{
    margin-right: 1rem;
}
.profile .head h4 ,  .profile .head p{
    font-size: var(--small-font-size);
}
.chatRef .chatactive{
    right: 1rem;
}
.singlechat .profile-photo{
    width: 2rem;
    height: 2rem;
}


.all-messeges{
    height: 60vh;
    overflow-y: auto;
    padding: 0 10px ;
}
.chatleft{
    /* background-color: var(--color-white); */
    color: var(--color-black);
}
.chatleft .message{
    background-color: var(--color-white);
    color: var(--color-black);
    max-width:300px;
    margin-right: auto;
    border-radius: 0 18px 18px  18px;
}
.chatright .message{
    background-color: var(--color-dark);
    color: var(--color-white);
    max-width:250px;
    margin-left: auto;
    border-radius: 18px 18px 0 18px;
}
.message{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.singlechat{
    padding: 10px;
}
.singlechat .profile{
    display: flex;
}
.singlechat .profile .profile-photo{
    margin-right: 10px;
}

.typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
  }
  .typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
  }
  .typing-area button{
    color: #fff;
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    font-size: 19px;
    cursor: pointer;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
  }
  .typing-area button.active{
    opacity: 1;
    pointer-events: auto;
  }
  

  .typing-effect{
    border-radius: 16px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 0 18px 18px  18px;
    /* background-color: #444; */
    padding: 12px ;
}
.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #353535;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0rem 16px 16px -16px rgb(0 0 0 / 10%);
    transform: translateY(0);
    animation: typing 1s ease-in infinite;
}
.dot1{
    animation-delay: 500ms;
}
.dot2{
    animation-delay: 300ms;
}
.dot3{
    animation-delay: 100ms;
}
@keyframes typing {
    25%{
        transform: translateY(-3px);
    }
    75%{
        transform: translateY(3px);
    }
}
.arrow{
    font-size: 3rem;
    /* width: 100%; */
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.profile:hover{
    cursor: pointer;
}